*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(40,35,35,1) 100%);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #0d0e10;
    overflow: hidden;
    position: fixed;
    align-items: center;
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}
nav a:hover{
    transition: 0.5s;
    background-color: yellow;
    color: black;
}
.conteudo-escritob{
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 50px;
}
.conteudo-escritoa{
    color: yellow;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.conteudo-escritobd{
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 16px;
}
.conteudo-escritobc{
    padding: 50px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 25px;
}
.conteudo{
    padding-top: 150px;
    text-align: center;
}
.start{
    padding: 20px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
}
.conteudo-escritobd{
    padding: 50px;
}
footer{
    background-color: #2b3035;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px calc(10.9375% - 15px) 83px;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}
footer a{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-right: 300px;
}
footer a:hover{
    color: gray;
}
.carousel {
    width: 70%; 
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-row {
    display: flex;
    flex-wrap: wrap;
    width: 200%; 
}
.carousel-item {
    width: calc(200% / 10); 
    flex: 0 0 auto;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
}
.item-container {
    width: 80px; 
    height: 80px; 
    background-color: #ccc; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    max-width: 60px; 
    max-height: 60px; 
}
.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel-controls button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
}
.carousel-controls button:hover {
    color: #000;
}